mixin task-edit
    form(action="/edit", method="post")
        div
            label Title:
            input(name="title", value!="{{ current_data.title }}")
        div
            label Description:
            textarea(name="description", rows="3", cols="60").
                {{ current_data.description }}
        div
            label Labels:
            | {% for label in current_data.labels %}
            li: input(name="label", value!="{{ label }}")
            | {% endfor %}
        div
            label Closed
            | {% if current_data.closed %}
            input(type="checkbox", name="closed", checked="checked")
            | {% else %}
            input(type="checkbox", name="closed")
            | {% endif %}
        input(type="hidden", name="data",
              value!="{{ current_data.key.urlsafe() }}")
        input(type="submit", value="Save")


mixin task-display
    div Title: {{ current_data.title }}
    p Description: {{ current_data.description }}
    ul
        div Labels:
        | {% for label in current_data.labels %}
        li {{ label }}
        | {% endfor %}
    | Status:
    | {% if current_data.closed %}
    | Closed
    | {% else %}
    | Open
    | {% endif %}
    form(action="/", method="get")
        input(type="hidden", name="edit", value="true")
        input(type="hidden", name="data",
              value!="{{ current_data.key.urlsafe() }}")
        input(type="submit", value="Edit")


mixin task-view
    | {% if edit %}
    +task-edit
    | {% else %}
    +task-display
    | {% endif %}
    form(action="/delete", method="post")
        input(type="hidden", name="data",
              value!="{{ current_data.key.urlsafe() }}")
        input(type="submit", value="Delete")


mixin task-list
    div.row.clear-fix
        div.pull-left
            b {{ user.nickname() }}
            | has tasks:
        div.pull-right Filter (not working)!
    | {% for word in data %}
    div.row.word
        | {% if word.key == current_data.key %}
        a(href!="/") {{ word.title }}
        | {% else %}
        a(href!="/?data={{ word.key.urlsafe() }}") {{ word.title }}
        | {% endif %}

        | {% if word.closed %}
        span.closed (Closed)
        | {% else %}
        span.open (Open)
        | {% endif %}
    | {% endfor %}


mixin add-task-form
    div.row
        form(action="/add", method="post")
            div.col-xs-12 Add a new task:
            div.col-xs-12
                label Title:
                input.form-control(name="title")
            div.col-xs-12
                label Description:
                textarea.form-control(name="description", rows="3", cols="60")

            div.col-xs-12
                label Labels:
            div#label-fields-container.col-xs-6
                input.form-control(name="label")
            div.col-xs-2
                button#add-label-button.form-control(type="button") Add label
            div.col-xs-offset-3.col-xs-6
                input.btn-primary.form-control(type="submit", value="Add task")


mixin task-list-only
    div.col-md-6.col-md-offset-3.col-xs-12
        +task-list
        +add-task-form
        hr
        a(href!="{{ url|safe }}") {{ url_linktext }}


mixin task-details
    div.col-md-6.col-xs-12
        +task-view
    div.col-md-6.col-xs-12
        +task-list
        +add-task-form
        hr
        a(href!="{{ url|safe }}") {{ url_linktext }}

doctype
| {% autoescape true %}
html
    head
        title Backbuffer
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(rel="stylesheet", type="text/css",
             href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        style.
            .word {
                padding: 10px;
                font-size: 1.4em;
            }
            .open {
                color: green;
            }
            .closed {
                color: gray;
            }
    body
        div.container-fluid
            div.row
                | {% if current_data %}
                +task-details
                | {% else %}
                +task-list-only
                | {% endif %}
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="/scripts/backbuffer.dart", type="application/dart")
    script(src="/scripts/dart.js")
| {% endautoescape %}
